<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Docker Swarm Monitor</title>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.11/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.bunny.net/css?family=roboto:400,500,700" rel="stylesheet" />

  <script type="importmap">
    {
      "imports": {
        "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js",
        "vuetify": "https://cdn.jsdelivr.net/npm/vuetify@3.7.11/dist/vuetify.esm.js"
      }
    }
  </script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container class="pa-md-12 mx-auto" fluid>
          <h2 v-if="clusterName" class="text-h4 font-weight-bold mb-4 text-center">{{ clusterName }}</h2>
          <v-row>
            <v-col v-for="node in sortedNodes" :key="node.id" class="d-flex" cols="12" lg="3" sm="6">
              <Node :node="node" />
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
    <WebSocket @update="updateData" @not-authorized="getAuthorized()" />
  </div>
  
  <script type="module">
    import { createApp } from 'vue';
    import { createVuetify } from 'vuetify';
    
    import Node from './node.js';
    import Websocket from './websocket.js';

    const vuetify = createVuetify({
      theme: {
        defaultTheme: window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }
    });

    createApp({
      data() {
        return {
          clusterName: 'Loading...',
          services: [],
          nodes: [],
        };
      },
      components: {
        Node,
        Websocket,
      },
      computed: {
        sortedNodes() {
          return this.nodes.sort((a, b) => a.hostname < b.hostname? -1 : 1);
        },
      },
      mounted() {
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', this.onSystemThemeChange);
      },
      methods: {
        getAuthorized() {
          window.location.href  = '/login';
        },
        updateData(data) {
          this.clusterName = data.clusterName;
          this.services = data.services.map((service) => {
            service.index = data.services.findIndex((serv) => serv.id === service.id);
            return service;
          })

          this.nodes = data.nodes.map((node) => {
            if (data.tasks) {
              node.tasks = data.tasks
                .filter(task => task.nodeId === node.id)
                .map((task) => {
                  task.service = this.services.find((service) => task.serviceId === service.id);
                  return task;
                });
            } 

            return node;
          });
        },
        onSystemThemeChange(event) {
          this.$vuetify.theme.global.name = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }
      },
      beforeDestroy() {
        window.matchMedia('(prefers-color-scheme: dark)').removeEventListener('change', this.onSystemThemeChange);
      }
    }).use(vuetify).mount('#app');
  </script>
</body>

</html>